.gallery {
    padding: 100px 0;
    background-color: $accent;
    color: white;

    &__tabs {
        display: grid;
        grid-template-columns: repeat(2, 100px);
        width: fit-content;
        margin: 0 auto 30px;
        gap: 5px;
        border: 1px solid $primary;
        padding: 6px 5px;
    }

    &__tab {
        padding: 5px 20px;
        text-align: center;
        transition: all .3s;
        cursor: pointer;

        &.active,
        &:hover {
            @extend %jost-500;
            background-color: $primary;
            color: $default;
        }
    }

    &__swiper {
        padding-bottom: 40px;

        &.hidden {
            display: none;
        }
    }

    &__swiper-slide {
        .overlay {
            top: 10px;
            left: 10px;
            right: 10px;
            bottom: 10px;
            width: auto;
            height: auto;
            scale: 0;
            opacity: 0;
            transition: all .5s;

            &::before {
                content: '+';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 40px;
                height: 40px;
                background-color: $primary;
                display: flex;
                justify-content: center;
                color: white;
                font-size: 40px;
                line-height: 35px;
            }
        }

        &:hover .overlay {
            scale: 1;
            opacity: 1;
        }
    }

    &__swiper-item img {
        height: 400px;
    }

}


@media (max-width: 1230px) {
    .gallery {
        &__swiper-item img {
            height: 350px;
        }
    }
}

@media (max-width: 991.8px) {
    .gallery {
        padding: 40px 0;
    }
}

@media (max-width: 767.98px) {
    .gallery {
        &__swiper-item img {
            height: 280px;
            object-fit: cover;
            width: 100%;
        }
    }
}