.reserve {
    padding: 100px 0;

    &__title {
        margin-bottom: 15px;
    }

    &__subtitle {
        font-size: 36px;
        margin-bottom: 30px;
        line-height: 1.25;
        text-align: center;
    }

    &__form {
        background-image: linear-gradient(180deg, rgba(2, 0, 36, 0.796) 0%, rgba(56, 56, 56, 0.7069281524926686) 41%, rgba(230, 171, 86, 0.2641129032258065) 100%), url('../images/services/bathhouse/5.webp');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        max-width: 800px;
        padding: 40px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        padding-top: 60px;
    }


    &__links {
        position: absolute;
        top: 20px;
        right: 40px;
        display: flex;
        gap: 20px;
    }

    &__link {
        color: white;
        font-size: 16px;
        transition: all .3s;

        &:hover {
            color: $primary;
            text-decoration: underline;
        }
    }



    &__form-title {
        color: white;
        font-size: 24px;
        @extend %jost-400;
        margin-bottom: 20px;
    }

    &__form-top {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin-bottom: 20px;
    }

    &__form-name {
        color: white;
        margin-bottom: 5px;
        text-align: left;
    }

    &__form-inp {
        display: block;
        width: 100%;
        padding: 10px 15px;
        color: $accent;
        margin-bottom: 20px;
        font-size: 14px;
        border: none;
        @extend %jost-500;

        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            background-color: #f1f1f1;
        }

        &::placeholder {
            @extend %jost-700;
        }
    }

    &__form-btn {
        max-width: 300px;
    }
}

@media (max-width: 991.8px) {
    .reserve {
        padding: 40px 0;

        &__subtitle {
            font-size: 28px;
            line-height: 1.2;
            max-width: 600px;
            margin: 0 auto 25px;

            br {
                display: none;
            }
        }
    }
}

@media (max-width: 767.98px) {
    .reserve {

        &__form-title{
            max-width: 350px;
            margin: 0 auto 20px;
        }
        &__form-top{
            grid-template-columns: repeat(1, 1fr);
            gap: 10px;
            margin-bottom: 15px;
        }
    }
}

@media (max-width: 575.98px) {
    .reserve {
        &__links{
            gap: 10px;
        }

        &__form-title {
            margin-bottom: 15px;
        }
    }
}