<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Главная страница</title>
  <link rel="stylesheet" href="./css/style.min.css">
</head>

<body>
  <div class="body_wrapper main-page" id="home">


    <header class="header">
      <div class="container">
        <div class="header__inner">
          <a class="logo" href="/">
            Барн<span>Хаус</span>
          </a>
          <nav class="menu">
            <ul class="menu__list">
              <li class="menu__item active">
                <a class="menu__link" href="#home">
                  Главная
                </a>
              </li>
              <li class="menu__item active">
                <a class="menu__link" href="#about">
                  О нас
                </a>
              </li>
              <li class="menu__item active">
                <a class="menu__link" href="#gallery">
                  Галерея
                </a>
              </li>
              <li class="menu__item active">
                <a class="menu__link" href="#reserve">
                  Бронирование
                </a>
              </li>
              <li class="menu__item active">
                <a class="menu__link" href="#contact">
                  Контакты
                </a>
              </li>
            </ul>
          </nav>
          <!-- <div class="burger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div> -->
        </div>
      </div>
      <div class="popup-menu">
        <div class="container">
          <ul class="popup-menu__list">
            <li class="popup-menu__item active">
              <a class="popup-menu__link" href="#">
                Главная
              </a>
            </li>
            <li class="popup-menu__item">
              <a class="popup-menu__link" href="#">
                О нас
              </a>
            </li>
            <li class="popup-menu__item">
              <a class="popup-menu__link" href="#">
                Галерея
              </a>
            </li>
            <li class="popup-menu__item">
              <a class="popup-menu__link" href="#">
                Бронирование
              </a>
            </li>
            <li class="popup-menu__item">
              <a class="popup-menu__link" href="#">
                Контакты
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>