<section class="modal modal-reserve" id="modal-reserve" style="display: none;">
  <form class="modal-reserve__form" action="#">
    <h2 class="modal-reserve__title modal__title">
      Оставьте свои данные и мы свяжемся с вами
    </h2>
    <div class="modal-reserve__content">
      <label class="modal-reserve__label">
        <p class="modal-reserve__label-title">
          Заезд
        </p>
        <input class="modal-reserve__input" type="date" name="check-in">
      </label>
      <label class="modal-reserve__label">
        <p class="modal-reserve__label-title">
          Выезд
        </p>
        <input class="modal-reserve__input" type="date" name="departure">
      </label>
      <label class="modal-reserve__label">
        <p class="modal-reserve__label-title">
          Количество гостей
        </p>
        <input class="modal-reserve__input" type="text" name="guests" placeholder="Количество человек">
      </label>
      <button class="modal-reserve__btn _main-btn" type="submit">
        Показать наличие
      </button>
    </div>
    <div class="modal-reserve__bottom">
      <a class="modal-reserve__link" href="#conditions" data-fancybox>Условия бронирования</a>
      <a class="modal-reserve__link" href="#rules" data-fancybox>Правила отеля</a>
    </div>
  </form>
</section>
<section class="modal modal-rules" id="rules" style="display: none;">
  <form class="modal-rules__form" action="#">
    <h2 class="modal-rules__title modal__title">
      Правила отеля
    </h2>
    <ol class="modal-rules__list">
      <li class="modal-rules__item">
        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
      </li>
      <li class="modal-rules__item">
        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
      </li>
      <li class="modal-rules__item">
        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
      </li>
      <li class="modal-rules__item">
        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
      </li>
      <li class="modal-rules__item">
        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
      </li>
      <li class="modal-rules__item">
        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
      </li>
      <li class="modal-rules__item">
        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
      </li>
    </ol>
  </form>
</section>
<section class="modal modal-conditions" id="conditions" style="display: none;">
  <form class="modal-conditions__form" action="#">
    <h2 class="modal-conditions__title modal__title">
      Условия бронирования
    </h2>
    <ul class="modal-conditions__list">
      <li class="modal-conditions__item">
        Бронирование осуществляется после внесения предоплаты в размере <b>30% от общей стоимости</b> проживания.
        Остальная часть оплачивается
        при заселении.
      </li>
      <li class="modal-conditions__item">
        Перенос дат бронирования, а также полная или частичная отмена бронирования с возвратом предоплаты возможна
        <b>не позже чем за 10 дней</b> до предполагаемой даты заезда.
      </li>
      <li class="modal-conditions__item">
        При отмене/переносе дат бронирования (даже частичном) менее чем за 10 дней до даты предполагаемого заезда,
        <b>предоплата не возвращается</b>.
      </li>
    </ul>
    <p class="modal-conditions__text">Оплачивая бронирование Вы соглашаетесь с <b><a href="#rules" data-fancybox>нашими правилами</a></b>.
    </p>
  </form>
</section>